body {
    background-color: #e1e1e1;
}

.header {
    margin-top: 0;
    text-align: center;
    background-color: #1e1e1e;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

.logo {
}

/* Logo size for mobiles */
.logo img {
    width: 200px;
}

/* Logo size for larger displays */
@media (min-width: 400px) {
    .logo img {
        width: 300px;
    }
}

/* Logo size for even larger displays */
@media (min-width: 700px) {
    .logo img {
        width: 400px;
    }
}

.request-assistance {
    margin-bottom: 3rem;
    font-size: 2rem;
    height: 45px;
    margin-bottom: 4rem;
}

h1 {
    margin-bottom: 3rem;
}

.footer {
    margin-top: 1rem;
    text-align: center;
}

.container {
    max-width: 800px;
}

ul li {
    list-style-position: outside;
    margin-left: 2rem;
}

li {
    margin-bottom: 0.5rem;
}

.intro {
    font-size: 2rem;
    text-align: center;
}

p {
    text-align: justify;
}
