<!-- Not actually used, just a template we can use as a basis. -->
<section class="group main-container is-bg-white first flex">
    <div class="container">
        <h2>Blockade Node</h2>
        <div class="row mission">
            <div class="three columns">
                <img class="mission-img" src="/images/missions/blockade.png">
            </div>
            <div class="nine columns">
                <p>Blockade is a browser extension that brings antivirus-like capabilities to user web traffic by blocking malicious resources
                from being viewed or loaded inside Chrome or Firefox. You can find more information on their <a href="https://www.blockade.io">webpage</a>.
                Security Without Borders has its own repository of IoC (Indicators of Compromise) that is specifically focused on protecting the civil society,
                activists and journalists from targeted attacks. </p>

                <p>To use our repository you should install the Blockade extension from
                <a href="https://github.com/blockadeio/chrome_extension">here</a> and then open the options of the extension and add our repository
                <code>https://blockade.securitywithoutborders.org/</code></p>

                <p>Check this video for better instructions on how to set it up:</p>

                <iframe src="https://player.vimeo.com/video/205097462" width="640" height="491" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p><a href="https://vimeo.com/205097462">Configuring Blockade.io with Security Without Borders</a> from <a href="https://vimeo.com/botherder">Nex</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

                <p>For technical details: <a href="https://blockade.securitywithoutborders.org/">https://blockade.securitywithoutborders.org/</a></p>
                <p>Mission lead: <a href="https://twitter.com/eldracote">Seba</a> (you can also contact <i>@tek</i> on our <a href="https://chat.securitywithoutborders.org">Chat</a>)</p>
            </div>
        </div>
    </div>
</section>
