<!-- Not actually used, just a template we can use as a basis. -->
<section class="group main-container is-bg-white first flex">
    <div class="container">
        <h2>Blockade Node</h2>
        <div class="row mission">
            <div class="three columns">
                <img class="mission-img" src="/images/missions/blockade.png">
            </div>
            <div class="nine columns">
                <p>Blockade is a browser extension that brings antivirus-like capabilities to user web traffic by blocking malicious resources
                from being viewed or loaded inside Chrome or Firefox.</p>

                <h4>How do I use it?</h4>

                <p>To use our repository you should install the Blockade extension from
                <a href="https://github.com/blockadeio/chrome_extension">here</a> and then open the options of the extension and add our repository
                <code>https://blockade.securitywithoutborders.org/</code></p>

                <p>Check this video for better instructions on how to set it up:</p>

                <iframe src="https://player.vimeo.com/video/205097462" width="640" height="491" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p><a href="https://vimeo.com/205097462">Configuring Blockade.io with Security Without Borders</a> from <a href="https://vimeo.com/botherder">Nex</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

                <h4>How does it work?</h4>

                <p>The Blockade browser extension will regularly fetch an updated list of malicious websites from the nodes that you have configured in the options. Security Without Borders maintains a list of malicious websites that we observe through our own research as well as through automated collection techniques. We identify and block hundreds of suspicious and malicious domains every day.</p>

                <h4>I got a warning from Blockade, what do I do?</h4>

                <p>A Blockade warning will appear as a vivid red page in your browser alerting that you've visited a website marked as malicious (or that a website you visit has attempted to load a remote resource from a website marked as malicious). Don't panic, you should be fine.</p>

                <p>If you have configured the extension with your own email address, we will receive a notification of this event and we would then be able to get back in contact with you.</p>

                <p>If you believe that a website you visited was wrongfully blocked, please get in contact with us at <code>info@securitywithoutborders.org</code></p>
            </div>
        </div>
    </div>
</section>
