/* ---------------------
	SWB CSS BSE
---------------------- */

body {
	font-family: Arial;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	background-color: #000;
}

// main, header, footer {
// 	max-width: 1440px;	
// 	margin: 0 auto;
// }


/* Clearfix */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Links */
a {
    color: #2196F3;
}

p a {
    font-weight: bold;
}

a:hover,
::selection {
	background-color: #f00f58;
}	

/* Header */
.flex {
	display: flex;
}

.right-to-left {
	flex-direction: row-reverse;
}

.flex-2 {
	flex-grow: 2;
}

header {
	background-color: #fff;
}

footer {
	position: relative;
	background-color: #000;
}

.header-content,
.footer-content {
	position: relative;
	z-index: 2;
}

.header-content {
	padding: 2em 5% 0;
}

.footer-content {
	padding: 0 5% 2em;
}

header::after,
footer::before {
	background: #000;
}

header::after {
	height: 30vw;
	 -webkit-transform: skewY(-5deg) translateY(-30.0vw);
    -ms-transform: skewY(-5deg) translateY(-30.0vw);
    transform: skewY(-5deg) translateY(-30.0vw);
	content: '';
    display: block;
    position: absolute;
    width: 100%;
	z-index: 1;
}

header {
	// background-color: #000;
}

// footer::before {
// 	// position: absolute;
//     // transform: skewY(-5deg) translateY(-4em);
// 	// 	-webkit-transform: skewY(-5deg) translateY(-4em);
// 	// 	-ms-transform: skewY(-5deg) translateY(-4em);
// }

header a:hover {
	background-color: transparent;
}

.logo {
	height: 125px;
}

/* Language changer */
.language-changer a {
	background: url('../images/globe-icon.png') no-repeat top right;
	background-size: 25px;
    padding: 4px 35px 25px 0;
    text-decoration: none;
}

.language-changer .language-changer-more {
	display: none;
	z-index: 2;
}

.language-changer:hover .language-changer-more {
	display: block;
	position: absolute;
	background-color: #000;
}

.language-changer .language-changer-more a {
	background-image: none;
	display: block;
	padding-bottom: 0;
}

/* Navigation */
nav a {
	border-bottom: 2px solid #f0c80f;
	margin-right: -5px;
	padding: 20px 40px;
	text-decoration: none;
}

nav a:hover {
	border-bottom-color: #f00f58;
}

#volunteer-section .text-container {
	padding-top: 3em;
}

#volunteer-section {
	background-color: #009933;	
}


#volunteer-section .image-container {
	background-image: url("/images/keyboard.jpg");
}

#request-section .image-container {
	background-image: url("/images/demonstration.jpg");
	background-repeat: repeat-y;
}

.main-container {
	min-height: 700px;
	padding: 150px 50px 150px 50px;
}

.image-core-team {
	max-height: 200px;
	border-radius: 50%;
	filter: grayscale(100%);
}
