@font-face {
    font-family: 'raleway';
    src: url('/fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('/fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('/fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('/fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}
