/* ---------------------
    SWB CSS LAYOUT
---------------------- */

/*Clearfix all groups */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Size */
.l-full-size {
    width: 100%;
}

.l-half-size {
    overflow: hidden;
    width: 40%;
}

.l-half-size.l-float-left + .l-half-size.l-float-left {
    margin-left: 10%;
}

.l-half-size.l-float-right + .l-half-size.l-float-right {
    margin-right: 10%;
}

/* FLoat */
.l-float-left {
    float: left;
}

.l-float-right {
    float: right;
}
