<% wrap_layout :layout do %>
  <section class="group main-container is-bg-white first flex">
  <article class="container">
    <h2><%= current_article.title %></h2>
    <h3><%= current_article.date %> - <%= current_article.tags %></h3>

    <%= yield %>
  </article>
  </section>
<% end %>