<!-- Not actually used, just a template we can use as a basis. -->
<section class="group main-container is-bg-white first">
    
    <h2>Blog</h2>
    <div class="row">
        <div class="two-thirds column">
            <div class="row">
                <div class="one-third column">
                    <img src="/images/demonstration.jpg" class="image-core-team">
                </div>
                <div class="two-thirds column">
                    <h3>Pipsum dolor sit amet</h3>
                    <p>Yadda yadd yadda</p>
                </div>
            </div>
        </div>
        <div class="one-third column archive-menu">
            <h4>Archive</h4>
            <a href="">2017</a>
            <ul>
                <li><a href="">March</a></li>
                <li><a href="">February</a></li>
                <li><a href="">January</a></li>
            </ul>
        </div>
    </div>
        
</section>