<section class="group main-container is-bg-white first flex">
    <div class="container">
        <h2>Collectives</h2>

        <p>Security Without Borders Collectives are groups that are created to pursue the mission of Security Without Borders in particular geographical areas or across particular themes or communities. If you are interested in creating a Security Without Borders collective, <a href="mailto:info@securitywithoutborders.org">get in touch</a>.</p>

        <p>Each collective is created at the initiative of one or multiple persons, who are vetted my the Core, the original members and founders of Security Without Borders. While we make sure to the best of our abilities that Collectives do not infringe of the core values and the Code of Conduct of the whole project, we know that with decentralzation issues might arise. If you experienced any form of misconduct or abuse, please <a href="mailto:info@securitywithoutborders.org">get in contact</a> with Security Without Borders Core so that we we can investigate and eventually take action against the responsible individual or group.</p>

        <div class="collective">
            <div class="collective-header">Berlin</div>
            <div><strong>Wiki:</strong> <a href="https://wiki.securitywithoutborders.org/index.php?title=Berlin">Berlin</a></div>
            <div><strong>Twitter:</strong> <a href="https://twitter.com/swb_berlin">@swb_berlin</a></div>
            <!-- <div><strong>Email:</strong> <a href="mailto:berlin@securitywithoutborders.org">berlin@securitywithoutborders.org</a></div> -->
            <div>We host (ir)regular meetings open to the public. Please check the wiki page and get in contact with us to find out more.</div>
        </div>

        <div class="collective">
            <div class="collective-header">San Francisco</div>
            <div><strong>Wiki:</strong> <a href="https://wiki.securitywithoutborders.org/index.php?title=San_Francisco">San Francisco</a></div>
            <!-- <div><strong>Email:</strong> <a href="mailto:sanfrancisco@securitywithoutborders.org">sanfrancisco@securitywithoutborders.org</a></div> -->
            <div><strong>Twitter:</strong> <a href="https://twitter.com/sf_swborders">@sf_swborders</a></div>
            <div>We host monthly meetings open to the public. Please check the wiki page and get in contact with us to find out more.</div>
        </div>
    </div>
</section>
