<!-- Primary Page Layout
 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="group main-container is-bg-white first flex">
      <div class="container">
            <h2>Please read before submitting your request</h2>

            <p>
            Security Without Borders tries to assist people with complicated security matters that are not answered in one of the many online guides available. This means that Security Without Borders can help you in doing penetration tests of your network, help you analyse malware or phishing attacks or try to provide tailored advice on how to best safeguard your sensitive information across multiple field offices for example.
            </p>

            <p>If you are simply looking to learn more about digital security and would like to know what applications can best help you protect your online data and surfing, we would like to point out these guides that do an excellent job of answering many of these questions:</p>
            <ul>
                  <li><a href="https://securityinabox.org/en/">Security in a Box - Digital security tools and tactics</a></li>
                  <li><a href="https://ssd.eff.org/en">EFF Surveillance Self Defence</a></li>
            </ul>
                  

            <p>Please make sure before you submit a request that your question is not already answered by one of these guides!</a></p>

            <p>Still need help? The button below will take you to the final contact form.</p>
            
            <div class="is-text-align-center">
                  <a class="call-to-action is-bg-yellow" href="/contact.2.html"><%= t(:request_assistance) %></a>
            </div>            
      </div>      
</section>
