<!-- Primary Page Layout
 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="group main-container is-bg-white first flex">
      <div class="container">
            <h2>Looking for help?</h2>

            <p>Security Without Borders wants to offer specialized professional security services to civil society. We can help with penetration testing, digital forensics, malware analysis, and advanced operational security advice.</p>

            <p>If you are looking for guidance on basic security practices, or want to learn more about online privacy and how to best protect yourself, we suggest you the following resources:</p>

            <ul>
                  <li><a href="https://securityinabox.org/en/">Security in a Box - Digital Security Tools and Tactics</a></li>
                  <li><a href="https://ssd.eff.org/en">EFF Surveillance Self Defence</a></li>
            </ul>
                  
            <p>These guides should be enough to get you started. If you're looking for urgent 24/7 assistance, we invite you the ckeck out the <a href="https://www.accessnow.org/help/">Helpline</a> from our friends at Access Now.</p>

            <p>If you still think we might be of service, the button below will take you to the final contact form.</p>
            
            <div class="is-text-align-center" style="margin-top: 20px;">
                  <a class="call-to-action is-bg-yellow" href="/contact.2.html"><%= t(:request_assistance) %></a>
            </div>            
      </div>      
</section>
