<!-- Primary Page Layout
 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="group main-container is-bg-white first flex">
      <div class="container">
            <h2>Please read before submitting your request</h2>
            <p>
            Security Without Borders is mainly committed to helping out journalists, human rights defenders, and non-profit organizations.
            We can assist with web security assessments, conduct breach investigations and analysis, and generally act as an advisor in 
            questions pertaining to cyber security. 
            </p>

            <h5>What we do not do</h5>
            <ul>
                  <li></li>
            </ul>

            <!--<p>Please check beforehand if your query corresponds to one of the <a href="/frequent-requests.html">frequent requests.</a></p>            -->

            <p>Still need help? The button below will take you to the final contact form.</p>
            
            <div class="is-text-align-center">
                  <a class="call-to-action is-bg-yellow" href="/contact.2.html"><%= t(:request_assistance) %></a>
            </div>            
      </div>      
</section>
