<%= partial "layouts/partials/header" %>

<!-- Primary Page Layout
 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
  <h2 class="section-heading">The Core Team</h2>
  <div class="row">
    <div class="one-half column">
      <img class="image--core-team u-max-full-width" src="/images/core-team/claudio-guarnieri.jpg" alt="Claudio Guarnieri" />
      <h5><a href="https://nex.sx">Claudio Guarnieri</a></h5>
      <p>Hacker, artist, human rights advocate. Technologist at
        <a href="https://twitter.com/amnesty">@amnesty</a> /
        Researcher at <a href="https://twitter.com/citizenlab">@citizenlab</a>
         / Founder <a href="https://twitter.com/swborders">@swborders</a> /
         Creator of <a href="https://twitter.com/cuckoosandbox">@cuckoosandbox</a>
         and <a href="https://twitter.com/malwr">@malwr</a>.
      </p>
    </div>
    <div class="one-half column">
      <img class="image--core-team u-max-full-width" src="/images/core-team/collin-anderson.jpg" alt="Collin Anderson" />
      <h5><a href="https://cda.io">Collin Anderson</a></h5>
      <p>Researcher on Internet policies, foreign affairs, network measurement,
        and state-sponsored hacking; 'Blonde guy, talks about Iran a
        lot;'ملا لغتی;
      </p>
    </div>
  </div>
  <div class="row">
    <div class="one-half column">
      <img class="image--core-team u-max-full-width" src="/images/core-team/andreas-lindh.jpg" alt="Andreas Lindh" />
      <h5><a href="https://twitter.com/addelindh">Andreas Lindh</a></h5>
      <p>Andreas Lindh is a security professional, hacker, and researcher with
        experience in vulnerability assessments, network security monitoring, and
        malware analysis. He has experience working for multinational companies
        as well as small, boutique consultancies, and is passionate about fighting
        prejudice and racism wherever it may arise. You can find him online at
        <a href="https://twitter.com/addelindh">@addelindh</a>.</p>
    </div>
    <div class="one-half column">
      <img class="image--core-team u-max-full-width" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=200%C3%97200&w=200&h=200" alt="Johan Rydberg Möller" />
      <h5><a href="https://twitter.com/JohanRMoller">Johan Rydberg Möller</a></h5>
      <p>IT-Security specialist. Founder of Assured. Organizer of
        <a href="https://twitter.com/securityfest">@securityfest</a>,
        podcaster at <a href="https://twitter.com/sakpodcasten">@sakpodcasten</a>
        and professional nerd. Co-Founder of Security Without Borders.
      </p>
    </div>
  </div>
</div>
