<!-- Primary Page Layout
 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
  <h2 class="section-heading"><%= t(:core_team) %></h2>
  <div class="row">
    <div class="one-half column">
      <div class="center-contents">
        <img class="image--core-team u-max-full-width" src="/images/core-team/claudio-guarnieri.jpg" alt="Claudio Guarnieri" />
        <h5><a href="https://nex.sx">Claudio Guarnieri</a></h5>
      </div>
      <p>
        Claudio Guarnieri is a security researcher mostly specialized in the
        analysis of malware, botnets and computer attacks in general. He's a
        core member of The Honeynet Project as a research fellow at the Citizen
        Lab, University of Toronto. He created the open source malware analysis
        software Cuckoo Sandbox and Viper and runs the Malwr free service. He
        published abundant research on botnets and targeted attacks and presented
        at conferences such as Hack In The Box, BlackHat, Chaos Communication
        Congress and many more. He continuously researches and writes on
        government surveillance and threats to journalists and dissidents worldwide
        and supports human rights organisations with operational security and
        emergency response.
      </p>
    </div>
    <div class="one-half column">
      <div class="center-contents">
        <img class="image--core-team u-max-full-width" src="/images/core-team/collin-anderson.jpg" alt="Collin Anderson" />
        <h5><a href="https://cda.io">Collin Anderson</a></h5>
      </div>
      <p>Collin Anderson is a Washington D.C.-based researcher focused on
        measurement and control on the Internet, including network ownership and
        access restrictions, with an emphasis on countries that restrict the
        free flow of information. These efforts have focused on monitoring the
        international sale of censorship equipment, identifying harm in disputes
        between network operators, exploring alternative means of communications
        that bypass normal channels of control, and applying open data to shed
        new light on increasingly sophisticated restrictions by repressive
        governments.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="one-half column">
      <div class="center-contents">
        <img class="image--core-team u-max-full-width" src="/images/core-team/andreas-lindh.jpg" alt="Andreas Lindh" />
        <h5><a href="https://twitter.com/addelindh">Andreas Lindh</a></h5>
      </div>
      <p>Andreas Lindh is a security professional, hacker, and researcher with
        experience in, among other areas, software and product security
        assessments, network security monitoring, intrusion analysis, and malware
        analysis. He has presented his work, both offensive and defensive, at
        international conferences such as Black Hat USA and Troopers. Andreas
        has experience working for multinational companies as well as small,
        boutique consultancies, and is passionate about fighting prejudice and
        racism wherever it may arise. You can find him online at
        <a href="https://twitter.com/addelindh">@addelindh</a>.</p>
    </div>
    <div class="one-half column">
      <div class="center-contents">
        <img class="image--core-team u-max-full-width" src="/images/core-team/johan.jpg" alt="Johan Rydberg Möller" />
        <h5><a href="https://twitter.com/JohanRMoller">Johan Rydberg Möller</a></h5>
      </div>
      <p>Johan Rydberg Möller is a professional nerd, security expert and researcher
        with many years experience in application security, vulnerability assessments
        and secure architecture and development. He runs the Swedish security
        conference Security Fest, hosts the Swedish security podcast Säkerhetspodcasten
        and works as a consultant for large, multinational corporations. In his free
        time (of which there is precious little) he is passionate about giving
        back to the community in any way possible. Follow him online at
        <a href="https://twitter.com/JohanRMoller">@johanrmoller</a>
      </p>
    </div>
  </div>
</div>
