<section class="group main-container is-bg-white first flex">
    <div class="container">
        <h2><i class="fas fa-hand-holding-heart"></i> Donate</h2>

        <p>We are not currently accepting monetary donations, but we are way more importantly accepting donations in the form of <b>hardware</b> or <b>services</b>.</p>

        <p>Activists, dissidents, journalists and human rights defenders, particularly from the Global South, have often difficulties acquiring or obtaining access to products and services that would help them stay safe online. We regularly collect donations for such products that we can freely redistribute throughout our meetings, trainings and encounters with members of civil society who face significant digital security threats.</p>

        <p>Some of the items that we seek are:</p>

        <ul>
            <li>Phones, chromebooks and laptops, particularly to replace others that might have been compromised.</li>
            <li>U2F and FIDO keys for securing access to their online accounts.</li>
            <li>Faraday bags, webcam covers.</li>
            <li>Gift codes for VPN service providers, web hosting providers, etc.</li>
        </ul>

        <div class="mb-10 mt-10 text-center"><a class="call-to-action is-bg-yellow rounded-lg" href="https://www.amazon.de/hz/wishlist/ls/3MC75YTNCULKS?type=wishlist&filter=all&sort=priority" target="_blank"><i class="fab fa-amazon"></i> Donate through this Amazon Wishlist!</a></div>

        <p>You can currently donate some of these items by using our Amazon Wishlist. We gladly accept second hand hardware as well, which you can donate to us in person and eventually by shipping it to an address we are going to provide here soon. For other forms of donations (such as free or discounted access to online services) please get in contact with us.</p>

        <h4>Thanks</h4>

        <p>A special thank you goes to <a href="https://dfri.se">DFRI</a>, <a href="https://greenhost.net">Greenhost</a> and <a href="https://flokinet.is">FlokiNET</a> for their support with server infrastructure.</p>
    </div>
</section>
