<section class="group main-container is-bg-white first flex">
    <div class="container">
        <h1>Frequent Requests</h1>
        <h5>My social media account has been hacked by my partner/classmates/other</h5>
        <p>
            Reset the password. Enable two factor authentication. Use a strong password and perhaps a password manager.
            
            If problem persists investigate your computer. Run anti-virus and malware scanners to see if they find something. 
            Reinstall your browser and remove all addons. Verify that each addon can be trusted.

            If the problem still persists, reinstall your operating system. Just make sure you backup all important files first.                       
        </p>
    </div>  
</section>