<section class="group main-container is-bg-white first flex">
    <div class="container">
        <h2>Mission</h2>

        <p>In our digital age, those who expose corruption, fight racism, and fight for justice and democracy face increasing threats and persecution online. Security Without Borders was created in 2017 to provide a platform for technologists to organize and change the inequity of access to digital security for civil society. As of 2018, this is our mission statement:</p>

        <div class="quote">
            Security Without Borders is an open and distributed collective of hackers and digital security professionals working to inform, protect and foster a more secure and resilient civil society.
        </div>

        <h4>Activities</h4>

        <p>By establishing a bridge between the technical cyber security community, Security Without Borders wishes to support the human rights and digital rights communities and  all those who directly interface with human rights defenders and activists on the ground by building more technical capacity in order to identify, respond and mitigate cyber security risks.</p>

        <p>We believe the small concentration of technical expertise available to the NGO sector is an obstacle to a more resilient civil society online, and we seek to distribute this capacity to enable defenders to be more digitally self-sufficient.</p>

        <p>Among other things, we try to achieve our objectives through the following activities:</p>

        <ul>
            <li><b>We provide workshops and trainings to enable defenders to be more self-sufficient in dealing with online threats and triaging of potential incidents.</b> Through the course of our individual experiences we realized that the ability to identify and triage digital threats for individuals at risk is too small and too concentrated. We work to distribute this knowledge more widely to enable defenders to scale and encourage more self-sufficiency.</li>
            <li><b>We develop <a href="<%= home_url %>projects.html">free/libre and open source software and services</a></b> that support defenders in assessing cyber security risks.</li>
            <li>We provide <a href="<%= home_url %>contact.html">specialized assistance</a> to civil society with incident response, penetration testing, code auditing and more.</li>
            <li>We contrast, expose and disrupt campaigns of illegitimate cyber attacks against human rights defenders, activists and journalists.</li>
        </ul>
    </div>
</section>
