<section class="group main-container is-bg-white first flex">
    <div class="container">
        <h2>Mission</h2>

        <p>In our digital age, those who expose corruption, fight racism, and fight for justice and democracy face increasing threats and persecution online. Security Without Borders was created in 2015 to provide a platform for technologists to organize and change the inequity of access to digital security for civil society. This is our mission statement:</p>

        <div class="quote">
            Security Without Borders is an open and distributed collective of hackers and digital security professionals working to inform, protect and foster a more secure and resilient civil society.
        </div>

        <p>Security Without Borders is organized in geographical and thematic <a href="<%= home_url %>chapters.html">Chapters</a> and a <b>Core</b> which operates internationally and coordinates Security Without Borders' activities.This is some of the work we do:</p>

        <ul>
            <li>We develop <a href="<%= home_url %>projects.html">free/libre and open source software and services</a>.</li>
            <li>We provide <a href="<%= home_url %>contact.html">specialized assistance</a> to civil society with incident response, penetration testing, code auditing and more.</li>
            <li>We conduct research and investigations.</li>
        </ul>
    </div>
</section>
