<!-- Not actually used, just a template we can use as a basis. -->
<section class="group main-container is-bg-white first flex">
    <div class="container">        

        <!--<h2>What we do</h2>-->
        <p>In this modern digital age, those who expose corruption, fight racism, and fight for justice 
        and democracy face increasing threats and persecution online. <b>Security Without Borders is
        an open collective of hackers and cyber security professionals</b> who volunteer with assisting
        journalists, human rights defenders, and non-profit organizations with cyber security issues.</p>


        <h2>Missions</h2>
        <div class="row mission">
            <div class="three columns">
                <img class="mission-img" src="/images/missions/hardentools.png">
            </div>
            <div class="nine columns">
                <h4>Hardentools</h4>
                <p>Hardentools is a collection of simple utilities designed to disable a number of "features" exposed by operating systems (Microsoft Windows, for now), and primary consumer applications. These features, commonly thought for Enterprise customers, are generally useless to regular users and rather pose as dangers as they are very commonly abused by attackers to execute malicious code on a victim's computer. The intent of this tool is to simply reduce the attack surface by disabling the low-hanging fruit. Hardentools is intended for individuals at risk, who might want an extra level of security at the price of some usability. It is not intended for corporate environments.</p>
                <p>Link: <a href="https://github.com/securitywithoutborders/hardentools">https://github.com/securitywithoutborders/hardentools</a></p>
                <p>Responsible: @botherder </p>
            </div>
        </div>

        <!--<h2>Services</h2>-->
        <div class="row mission">
            <div class="three columns">
                <img class="mission-img" src="/images/missions/blockade.png">
            </div>
            <div class="nine columns">
                <h4>Blockade IOC Node</h4>
                <p>Blockade is a browser extension that brings antivirus-like capabilities to user web traffic by blocking malicious resources 
                from being viewed or loaded inside Chrome or Firefox. You can find more information in their <a href="https://www.blockade.io">webpage</a>. 
                Security Without Borders has its own repository of IoC (Indicators of Compromise) that is specifically focused in protecting the civil society, 
                activists and journalists from targeted attacks. </p>
                
                <p>To use our repository you should install the Blockade extension from 
                <a href="https://github.com/blockadeio/chrome_extension">here</a> and then open the options of the extension and add our repository 
                <code>https://blockade.securitywithoutborders.org/</code></p>
                <p>For technical details: <a href="https://blockade.securitywithoutborders.org/">https://blockade.securitywithoutborders.org/</a></p>
                <p>Responsible: @sebgarcia (@cda, @tek, @nex)</p>
            </div>
        </div>
        
        <div class="row mission">
            <div class="three columns">
                <img class="mission-img" src="/images/missions/request-assistance.png">
            </div>
            <div class="nine columns">
                <h4>Assistance Requests</h4>
                <p>We receive a lot of assistance requests that need to be looked at and responded too. Some are clearly defined questions, some are vague and require more clarification. The Assistance Requests team is the first point of contact between SWB and people requesting assistance and due to its sensitive nature not open for public help.</p>
                <p>Responsible: @cda </p>
            </div>
        </div>

        <div class="row mission">
            <div class="three columns">
                <img class="mission-img" src="/images/missions/newsletter.png">
            </div>
            <div class="nine columns">
                <h3>Newsletter</h3>
                <p>The SWB newsletter is sent out every few weeks and contains security news and information aimed at civil society,
                focusing on real threats people are facing and including advice on what to do against them. You can subscribe to the newsletter by 
                email <a href="https://newsletter.securitywithoutborders.org/subscription/S19JGWrvg">here</a>.</p>
                <p>Responsible: @martijn_grooten </p>
            </div>
        </div>
        
        <div class="row mission">
            <div class="three columns">
                <img class="mission-img" src="/images/missions/penetration-testing.png">
            </div>
            <div class="nine columns">
                <h3>Penetration Testing</h3>
                <p>Penetration tests are being done on a regular basis for organisations that request our help in these matters. This can be the testing of websites, mailservers and other infrastructure. Do you have penetration testing experience and would you like to help out human rights organisations in need? Then this could be the perfect team for you!</p>
                <p>Responsible: @joxean (@tek)</p>
            </div>
        </div>
    </div>
</section>