<section class="group main-container is-bg-white first flex">
    <div class="container">
        <p>In this modern digital age, those who expose corruption, fight racism, and fight for justice
        and democracy face increasing threats and persecution online. <b>Security Without Borders is
        an open collective of hackers and cyber security professionals</b> who volunteer with assisting
        journalists, human rights defenders, and non-profit organizations with cyber security issues.</p>

        <p><b>Missions</b> are ongoing projects we maintain and services we provide. If you're interested
        in helping with any of these missions, please get in contact with the respective leads. You can
        find some of us on Security Without Border's <a href="https://chat.securitywithoutborders.org">Chat</a>.</p>

        <h2>Missions</h2>
        <div class="row mission">
            <div class="three columns">
                <img class="mission-img" src="/images/missions/blockade.png">
            </div>
            <div class="nine columns">
                <h4><a href="<%= home_url %>missions/blockade.html">Blockade Node</a></h4>
                <p>Blockade is a browser extension that brings antivirus-like capabilities to user web traffic by blocking malicious resources from being viewed or loaded inside Chrome or Firefox browsers. You can find more information on the official <a href="https://www.blockade.io">webpage</a>.
                Security Without Borders maintains a Blockade node, and when configured to use it, users of the Blockade browser extension will benefit of our regularly updated list of hundreds of malicious websites (particularly used in attacks targeting members of civil society).</p>

                <p><a href="<%= home_url %>missions/blockade.html">Read more about how to set up blockade.</a></p>

                <p>For technical details: <a href="https://blockade.securitywithoutborders.org/">https://blockade.securitywithoutborders.org/</a></p>
                <p>Mission lead: <a href="https://twitter.com/eldracote">Seba</a> (you can also contact <i>@tek</i> on our <a href="https://chat.securitywithoutborders.org">Chat</a>)</p>
            </div>
        </div>

        <div class="row mission">
            <div class="three columns">
                <img class="mission-img" src="/images/missions/hardentools.png">
            </div>
            <div class="nine columns">
                <h4>Hardentools</h4>
                <p>Hardentools is a collection of simple utilities designed to disable a number of "features" exposed by operating systems (Microsoft Windows, for now), and primary consumer applications. These features, commonly thought for Enterprise customers, are generally useless to regular users and rather pose as dangers as they are very commonly abused by attackers to execute malicious code on a victim's computer. The intent of this tool is to simply reduce the attack surface by disabling the low-hanging fruit. Hardentools is intended for individuals at risk, who might want an extra level of security at the price of some usability. It is not intended for corporate environments and it is not a replacement for antiviruses, patching, security suites and other countermeasures.
                <i>The tool is currently under development, so use at your own risk.</i></p>
                <p>Link: <a href="https://github.com/securitywithoutborders/hardentools">https://github.com/securitywithoutborders/hardentools</a></p>
                <p>Mission lead: <a href="https://twitter.com/botherder">Nex</a> (<i>@nex</i> on our <a href="https://chat.securitywithoutborders.org">Chat</a>)</p>
            </div>
        </div>

        <div class="row mission">
            <div class="three columns">
                <img class="mission-img" src="/images/missions/newsletter.png">
            </div>
            <div class="nine columns">
                <h3>Newsletter</h3>
                <p>The Security Without Borders newsletter is sent out every few weeks and contains security news, tips and information useful for civil society, focusing on real threats people are facing and including advice on what to do against them. You can subscribe to the newsletter by
                email <a href="https://newsletter.securitywithoutborders.org/subscription/S19JGWrvg">here</a>.</p>
                <p>Mission lead: <a href="https://twitter.com/martijn_grooten">Martijn</a> (<i>@martijn_grooten</i> on our <a href="https://chat.securitywithoutborders.org">Chat</a>)</p>
            </div>
        </div>

        <div class="row mission">
            <div class="three columns">
                <img class="mission-img" src="/images/missions/request-assistance.png">
            </div>
            <div class="nine columns">
                <h4>Assistance Requests</h4>
                <p>We receive a lot of assistance requests that need to be looked at and responded too. Some are clearly defined questions, some are vague and require more clarification. The Assistance Requests team is the first point of contact between SWB and people requesting assistance and due to its sensitive nature not open for public help.</p>
                <p>Mission lead: <a href="https://twitter.com/cda">Collin</a> (you can also contact <i>@nex</i> on our <a href="https://chat.securitywithoutborders.org">Chat</a>)</p>
            </div>
        </div>

        <div class="row mission">
            <div class="three columns">
                <img class="mission-img" src="/images/missions/penetration-testing.png">
            </div>
            <div class="nine columns">
                <h3>Penetration Testing</h3>
                <p>Penetration tests are being done on a regular basis for organisations that request our help in these matters. This can be the testing of websites, mailservers and other infrastructure. Do you have penetration testing experience and would you like to help out human rights organisations in need? Then this could be the perfect team for you!</p>
                <p>Mission lead: <a href="https://twitter.com/matalaz">Joxean</a></p>
            </div>
        </div>
    </div>
</section>
