<section class="group main-container is-bg-white first flex">
    <div class="container">
        <h2><i class="fas fa-book"></i> Resources</h2>

        <p><b>Please note:</b> the following guides are meant to be longer reads to help people obtain a deeper understanding of digital threats and how to investigate them. If you are looking for a quick and simple way to receive security recommendations, we suggest you check out <a href="https://www.securityplanner.org">Security Planner</a>. If you are looking for assistance on using certain tools or want advise on how to communicate securely, we suggest you reach out to <a href="https://www.accessnow.org/help/">Access Now Helpline</a>.</p>

        <div class="mb-10 p-8 bg-grey-lighter rounded-lg">
            <h4 class="mb-4"><i class="fas fa-book mr-4"></i><a href="/resources/targeted-surveillance-reports.html">Reports on Targeted Surveillance</a></h4>
            <div>This is a curated list of public reports on targeted surveillance of civil society.</div>
        </div>

        <div class="mb-10 p-8 bg-grey-lighter rounded-lg">
            <h4 class="mb-4"><i class="fas fa-book mr-4"></i><a href="/resources/guide-to-phishing.html">Guide to Phishing</a></h4>
            <div>This guide describes more in details how phishing attacks work and what are the currently available mitigations.</div>
        </div>

        <div class="mb-10 p-8 bg-grey-lighter rounded-lg">
            <h4 class="mb-4"><i class="fas fa-book mr-4"></i><a href="/resources/quick-forensics-win.html">How To Do Quick Forensics on Windows</a></h4>
            <div>This guide explains how to quickly triage a Windows computer and collect data to idenfity potential infections.</div>
        </div>

        <!-- <div class="mb-10 p-8 bg-grey-lighter rounded-lg">
            <h4 class="mb-4"><i class="fas fa-book mr-4"></i><a href="/resources/quick-forensics-mac.html">How To Do Quick Forensics on Mac</a></h4>
            <div>This guide explains how to quickly triage a Mac computer and collect data to idenfity potential infections.</div>
        </div> -->
    </div>
</section>
