<section class="group main-container is-bg-white first flex">
    <div class="container">
        <h2><i class="fas fa-wrench"></i> Tools</h2>

        <p>We develop tools and services that we offer publicly to help activists and journalists to protect themselves from digital threats. Following are some of the projects we work on. If are not familiar with these tools and their purpose, we suggest you first check out our <a href="<%= home_url %>resources.html">Resources</a> page.<p>

        <div class="row mission">
            <div class="three columns">
                <img class="mission-img" src="/images/tools/hardentools/icon.png" style="height: 150px;margin-top: 10px;">
            </div>
            <div class="nine columns">
                <h4>Hardentools</h4>
                <p>Hardentools is a collection of simple utilities designed to disable a number of "features" exposed by operating systems (Microsoft Windows, for now), and primary consumer applications. These features, commonly thought for Enterprise customers, are generally useless to regular users and rather pose as dangers as they are very commonly abused by attackers to execute malicious code on a victim's computer.</p>

                <p>The intent of this tool is to simply reduce the attack surface by disabling the low-hanging fruit. Hardentools is intended for individuals at risk, who might want an extra level of security at the price of some usability. It is not intended for corporate environments and it is not a replacement for antiviruses, patching, security suites and other countermeasures.
                <i>The tool is currently under development, so use at your own risk.</i></p>

                <p><a href="<%= home_url %>tools/hardentools.html">Read more about how to use Hardentools.</a></p>
            </div>
        </div>

        <div class="row mission">
            <div class="three columns">
                <img class="mission-img" src="/images/tools/snoopdigg.png" style="height: 150px;margin-top: 10px;">
            </div>
            <div class="nine columns">
                <h4>Snoopdigg</h4>
                <p>Snoopdigg is a simple tool to automate some basic steps to acquire some evidence of compromise from Windows computers. Snoopdigg is normally intended for trainers, researchers, and incident responders without a particular background in information security and computer forensics.</p>

                <p>Snoopdigg doesn't require any configuration or parameters, it just needs to be executed with Administrator privileges. Once launched, the software automatically harvests and collects copies of the Windows executables that maintain persistence on the system, and afterwards attempts at taking a full snapshot of the memory.</p>

                <p><a href="https://github.com/botherder/snoopdigg/blob/master/README.md">Read more about how to use Snoopdigg.</a></p>
            </div>
        </div>

        <div class="row mission">
            <div class="three columns">
                <!-- <img class="mission-img" src="/images/tools/snoopdroid.png" style="height: 150px;margin-top: 10px;"> -->
            </div>
            <div class="nine columns">
                <h4>Snoopdroid</h4>
                <p>Snoopdroid is a simple Python utility to automatically extract all available Android applications installed on an Android device connected to your computer through USB debugging. It simplifies the process to extract .apk files, optionally look them up on services such as VirusTotal and Koodous, and later inspect them, for example in order to identify any potential malicious application.

                <p><a href="https://github.com/botherder/snoopdroid/blob/master/README.md">Read more about how to use Snoopdroid.</a></p>
            </div>
        </div>
    </div>
</section>
