<section class="group main-container is-bg-white first flex">
    <div class="container">
        <p>In this modern digital age, those who expose corruption, fight racism, and fight for justice
        and democracy face increasing threats and persecution online. <b>Security Without Borders is
        an open collective of hackers and cyber security professionals</b> who volunteer with assisting
        journalists, human rights defenders, and non-profit organizations with cyber security issues.</p>

        <h2>Tools</h2>

        <p>We develop tools and services that we offer publicly or privately to help activists and journalists to protect themselves from digital threats. Following are some of the projects we work on.<p>

        <div class="row mission">
            <div class="three columns">
                <img class="mission-img" src="/images/tools/hardentools/icon@512.png">
            </div>
            <div class="nine columns">
                <h4><a href="<%= home_url %>tools/hardentools.html">Hardentools</a></h4>
                <p>Hardentools is a collection of simple utilities designed to disable a number of "features" exposed by operating systems (Microsoft Windows, for now), and primary consumer applications. These features, commonly thought for Enterprise customers, are generally useless to regular users and rather pose as dangers as they are very commonly abused by attackers to execute malicious code on a victim's computer. The intent of this tool is to simply reduce the attack surface by disabling the low-hanging fruit. Hardentools is intended for individuals at risk, who might want an extra level of security at the price of some usability. It is not intended for corporate environments and it is not a replacement for antiviruses, patching, security suites and other countermeasures.
                <i>The tool is currently under development, so use at your own risk.</i></p>

                <p><a href="<%= home_url %>tools/hardentools.html">Read more about how to use Hardentools.</a></p>
            </div>
        </div>

        <div class="row mission">
            <div class="three columns">
                <img class="mission-img" src="/images/tools/blockade.png">
            </div>
            <div class="nine columns">
                <h4><a href="<%= home_url %>tools/blockade.html">Blockade Node</a></h4>
                <p>Blockade is a browser extension that brings antivirus-like capabilities to user web traffic by blocking malicious resources from being viewed or loaded inside Chrome or Firefox browsers. You can find more information on the official <a href="https://www.blockade.io">webpage</a>.
                Security Without Borders maintains a Blockade node, and when configured to use it, users of the Blockade browser extension will benefit of our regularly updated list of hundreds of malicious websites (particularly used in attacks targeting members of civil society).</p>

                <p><a href="<%= home_url %>tools/blockade.html">Read more about how to set up blockade.</a></p>
            </div>
        </div>
    </div>
</section>
