<!-- Primary Page Layout
 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="group main-container is-bg-white first flex">
      <div class="container">
            <h2>How to help</h2>

            <p>Security Without Borders aims at creating a community of tech people to help NGO, journalist and activists to improve their security. Here is I you can integrate this community and help:</p>

            <ul>
                  <li><b>Join The Community</b>: the first step is to join the community by
                  suscribing to the <a href="https://lists.securitywithoutborders.org/mailman/listinfo/swb-public">mailing list</a>
                  and creating an account on our public <a href="https://chat.securitywithoutborders.org/">Mattermost</a>
                  We try to keep the mailing list low level mainly with announcement, so most of the
                  discussion is on the Mattermost, feel free to introduce yourself there and
                  join channels you are interested in.</li>

                  <!-- <li><b>Suscribe as a volunteer</b>: we propose you to <a href="/volunteer.2.html">suscribe as volunteer 
                  with a short description of your skills</a> so that we can contact you if we need
                  people for a new project. Click on this link to take you to the volunteering form.</li> -->

                  <li><b>Propose projects</b>: We are really interested in new ideas of how to
                   help NGOs and activists. Feel free to propose your ideas on the
                  <a href="https://chat.securitywithoutborders.org/community/channels/town-square">Town Square channel</a>
                   on Mattermost!</li>

                   <li><b>Help with the Newsletter</b>: we send a regular newsletter intended for NGO/activists
                   to keep updated about new threats. You can help to gather interesting news either
                   on the <a href="https://github.com/securitywithoutborders/newsletter/issues">github repository</a>
                   or on the <a href="https://chat.securitywithoutborders.org/community/channels/newsletter">Newsletter Mattermost channel</a>.
                   </li>

                   <li><b>Make the link with local activists</b>: you may be in contact with activists or NGO
                   around you who would need security help. You can help connecting them with
                   the SWB community and find how we can help. Check our mission list, and feel
                   free to ask questions on Mattermost (but be careful of not sharing private
                   information form them on the public Mattermost).</li>

                   <li><b>Create a local SWB group</b>: local SWB groups have been created
                   <a href="https://wiki.securitywithoutborders.org/index.php?title=Main_Page#Regular_Meet-ups_.2F_Local_Groups">in several cities over the worls</a>
                   with the idea of creating a human right tech community and try to help locally.
                   You can start to see if there is a Mattermost channel for your area, or send an
                   email on the newsletter to find people from your area.</li>
            </ul>
      </div>
</section>
