<section class="group main-container is-bg-white first flex">
    <div class="container">
        <p>In this modern digital age, those who expose corruption, fight racism, and fight for justice
        and democracy face increasing threats and persecution online. <b>Security Without Borders is
        an open collective of hackers and cyber security professionals</b> who volunteer with assisting
        journalists, human rights defenders, and non-profit organizations with cyber security issues.</p>

		<p>Following are some of the thigns we do (we also collectively develop <a href="<%= home_url %>tools.html">libre software</a>):</p>

        <div class="row mission">
            <div class="three columns">
                <img class="mission-img" src="/images/missions/request-assistance.png">
            </div>
            <div class="nine columns">
                <h4>Assistance Requests</h4>
                <p>We receive a lot of assistance requests that need to be looked at and responded too. Some are clearly defined questions, some are vague and require more clarification. The Assistance Requests team is the first point of contact between SWB and people requesting assistance and due to its sensitive nature not open for public help.</p>
            </div>
        </div>

        <div class="row mission">
            <div class="three columns">
                <img class="mission-img" src="/images/missions/penetration-testing.png">
            </div>
            <div class="nine columns">
                <h3>Penetration Testing</h3>
                <p>Penetration tests are being done on a regular basis for organisations that request our help in these matters. This can be the testing of websites, mailservers and other infrastructure. Do you have penetration testing experience and would you like to help out human rights organisations in need? Then this could be the perfect team for you!</p>
            </div>
        </div>

		<div class="row mission">
			<div class="three columns">
				<img class="mission-img" src="/images/missions/newsletter.png">
			</div>
			<div class="nine columns">
				<h3>Newsletter</h3>
				<p>The Security Without Borders newsletter is sent out every few weeks and contains security news, tips and information useful for civil society, focusing on real threats people are facing and including advice on what to do against them. You can subscribe to the newsletter by email <a href="https://newsletter.securitywithoutborders.org/subscription/S19JGWrvg">here</a>.</p>
			</div>
		</div>
    </div>
</section>
