<footer class="group is-bg-black skew skew-before">
  <!-- <div class="group footer-content l-half-size l-float-right">
    <h2>Contact</h2>
    <p>
      <%= t(:footer_p1, info: "<a href=\"mailto:info@securitywithoutborders.org\">info@securitywithoutborders.org</a>", press: "<a href=\"mailto:press@securitywithoutborders.org\">press@securitywithoutborders.org</a>") %>
    </p>
    <p>
      <%= t(:footer_p2, twitter: '<a href="https://twitter.com/swborders">@swborders</a>', newsletter: '<a href="https://newsletter.securitywithoutborders.org/subscription/S19JGWrvg">newsletter</a>') %>
    </p>
    <p>
      <a href="<%= home_url %>code-of-conduct.html"><%= t(:code_of_conduct) %></a>
    </p>
  </div> -->
</footer>
