<footer class="footer">
  <div class="container">
    <ul class="footer__inner">
      <li>
        <a href="https://github.com/securitywithoutborders/organization/blob/master/code-of-conduct.md">
          <%= t(:code_of_conduct) %>
        </a>
      </li>
    <ul>
  </div>
</footer>
