<footer class="group is-bg-black skew skew-before">
    <div class="group footer-content md:w-1/2 l-float-right">
        <div style="font-size: 28px;"><a style="font-weight: normal;" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><i class="fab fa-creative-commons"></i> <i class="fab fa-creative-commons-by"></i> <i class="fab fa-creative-commons-sa"></i></a></div>

        The content of the <a xmlns:cc="http://creativecommons.org/ns#" href="https://www.securitywithoutborders.org" property="cc:attributionName" rel="cc:attributionURL">Security Without Borders</a> website is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. The software distributed through this website might be licensed differently. Please refer to the respective pages and repositories.

        <div class="mt-6"><i class="fab fa-twitter mr-2"></i> <a href="https://twitter.com/swborders">@swborders</a></div>
        <div><i class="fas fa-envelope mr-2"></i> info -at- securitywithoutborders.org</div>
    </div>
</footer>
